name = 'stremio-streaming-catalogs-addon'
main = "src/worker.js"
compatibility_date = "2024-11-18"
compatibility_flags = ["nodejs_compat"]

[vars]
# VITE_ADMIN_TOKEN = ""
# VITE_APP_URL = "https://your-worker.workers.dev"
FORCE_REFRESH = "false"
CACHE_VERSION = "v4"

[assets]
directory = "./vue/dist"
binding = "ASSETS"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1